@{
    //Request.Cookies["bascket"];
    var user = Request["username"];
    var db = Database.Open("Empty Site");
    var userid = "";
    var mygood =Request["myselection"];
    var finduserid = "SELECT id FROM login WHERE username='"+user+"'";
    foreach( var useritem in db.Query(finduserid)){
        userid = useritem.id.ToString();
    }
    
    var sqlselectgoods = "SELECT PRODUCTID,PRODUCTNAME FROM products";
    //var sqlinsert2order = "INSERT INTO orders (id) VALUES ('" + userid + "'); INSERT INTO product_order (ORDERID,PRODUCTID) VALUES (@@identity,'"+mygood+"')";
    var sqlinsert2order = "INSERT INTO orders (id) VALUES ('" + userid + "') ";
    var sqlselectcurrentorderid = "SELECT @@IDENTITY";
  
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>

       
    </head>
    <body>
        <form  method="post">
            
      <select name="myselection">
            @foreach (var item in db.Query(sqlselectgoods)) { 
                <option value="@item.PRODUCTID">@item.PRODUCTNAME</option>
            }
        </select>
        
        @if (IsPost) {
            
            db.Execute(sqlinsert2order);
            var item = db.QueryValue(sqlselectcurrentorderid);
            <meta HTTP-EQUIV="REFRESH" content="0;url=Error?myselection=@Request["myselection"]&orderid=@item">
            
        }

        <input type="submit" value="Select" name="action"  />
       
        <p>
            
        </p>
        </form>
    </body>
</html>
