@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
       <form action="post">
       <p>@WebSecurity.CurrentUserName</p>
       </form>
    </body>
</html>
