@{
    var yourValue = "";
   if(Request.Form["username"] != null){ 
      yourValue = Request.Form["username"];} 
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
       <form action="post">
       <p></p>
           <div>@Request["username"]</div>
       </form>
    </body>
</html>
