@{
   Validation.RequireField("username","User Name is required."); 
   Validation.RequireField("password","Password is required.");
   Validation.RequireField("email","email is required.");

   var db = Database.Open("Empty Site");
   var username =Request.Form["username"];
   var password = Request.Form["password"];
   var email = Request.Form["email"];

   if(IsPost && Validation.IsValid()){
       // Define the insert query.The values to assign to the
       // colums in the Login table are defined as parameters
       // with the VALUES keyword.
       if(ModelState.IsValid) {
          var insertQuery = "INSERT INTO login (username, password, email) " +
                "VALUES (@0, @1, @2)";
          db.Execute(insertQuery, username, password, email);
          // Display the page that lists logins.
          Response.Redirect("~/login");
        }
   }
}

<!DOCTYPE html>

<html>
    <head>
       <title>Add Login</title>
 <style type="text/css">
    label {float:left; width: 8em; text-align: right;
           margin-right: 0.5em;}
    fieldset {padding: 1em; border: 1px solid; width: 50em;}
    legend {padding: 2px 4px; border: 1px solid; font-weight:bold;}
    .validation-summary-errors {font-weight:bold; color:red;
           font-size: 11pt;}
 </style>
</head>
<body>
 <h1>Add New Login</h1>

 @Html.ValidationSummary("Errors with your submission:")

 <form method="post" action="">
   <fieldset>
     <legend>Add Login</legend>
     <div>
       <label>UserName:</label>
       <input name="username" type="text" size="50" value="@username" />
     </div>
     <div>
       <label>PassWord:</label>
       <input name="password" type="text" size="50" value="@password" />
     </div>
     <div>
       <label>Email:</label>
       <input name="email" type="text" size="50" value="@email" />
     </div>
     <div>
       <label>&nbsp;</label>
       <input type="submit" value="Insert" class="submit" />
     </div>
   </fieldset>
 </form>
  
    </body>
</html>
