@{
    var uname = "";
    var pword = "";
    var ErMemptyname = "The username field is EMPTY!";
    var ErMemptypass = "The password field is EMPTY!";
    var ErMwrong = " The password is WRONG!";
    uname = Request["username"];
    pword = Request["password"];
    var selectQueryString = "";
    var db = Database.Open("Empty Site");
}
<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="logup.css"/>

<meta charset="utf-8" />
<title></title>
</head>
<body>
            <div id="toplogo">
          <div>

             <a href="Default.cshtml">
                 <img src="kntu.jpg" alt="kntu" width="82" height="82">
             </a>
          </div>
        </div>
 
        <br/>
       <div id="header">Welcome to Login's Page</div>         
        <br/>

    <form method="post" id="mform">
        <h1>You have to login again after that you guide to buy's page . Thanks</h1>

            @if (IsPost && !uname.IsEmpty())
                    {
                        if(IsPost && !pword.IsEmpty()) {
                        selectQueryString = "SELECT password FROM login WHERE username = '" + uname+"' ";
                        foreach(var row in db.Query(selectQueryString)){
                        if(row.password==pword){
                        <meta HTTP-EQUIV="REFRESH" content="0;url=buy?username=@uname">
                             }
                        else
                        { <p>@ErMwrong</p> }
                            // <p>@row.username</p>
                        }
                } else{<p>@ErMemptypass</p>}
            }
            @if(uname.IsEmpty() && IsPost )
                {<p>@ErMemptyname</p>}
           <fieldset>
            <legend>ONLINE SHOPPING LOGIN</legend>
            <div>
            <label for="username">Username:</label><br/>
            <input type="text" name="username" value="" />
           </div>
            <div>
           <label for="password">Password:</label><br/>
           <input type="password" name="password" value="" />
           </div>
            <div>
           <input type="submit" value="Login" onclick="guid()"/>
           </div>
            </fieldset>
</form>
     <script type="text/javascript">
       
         function guid(){
                alert("شما به صفحه ی  انتخاب محصول هدایت می شوید ")
            }
        
    </script>

     <br/>
     <br/>
              
  <div id="footer"> Khaje Nasir Toosi Univercity (KNTU) </div>
</body>
</html>