body {
    background-image: url("jojo.jpg");
    font-family: 'Times New Roman';
    background-repeat: no-repeat;
}

hr{
    color: red;
}
th{
    color: red;
    text-align: center;    
}
td{
    
}
button{
    font-family: 'Times New Roman';        
}
table.center{
   margin-left: auto;
   margin-right: auto;
   font-size:22px;
   font-family:Times New Roman;
}
