@{
   Validation.RequireField("username","User Name is required."); 
   Validation.RequireField("password","Password is required.");
   Validation.RequireField("email","email is required.");

   var db = Database.Open("Empty Site");
   var username =Request.Form["username"];
   var password = Request.Form["password"];
   var email = Request.Form["email"];
   
   if(IsPost && Validation.IsValid()){
       // Define the insert query.The values to assign to the
       // colums in the Login table are defined as parameters
       // with the VALUES keyword.
       if(ModelState.IsValid) {
          var insertQuery = "INSERT INTO login (username, password, email) " +
                "VALUES (@0, @1, @2)";
          db.Execute(insertQuery, username, password, email);
          // Display the page that lists logins.
          Response.Redirect("~/home");
        }
   }
}

<!DOCTYPE html>

<html lang="en"> 
  <head>
    <link rel="stylesheet" type="text/css" href="logup.css"/>
    <meta charset="utf-8" />
    <title>LogUp</title>
  </head>
  <body>        
     
        <div id="toplogo">
          <div>

             <a href="home.cshtml">
                 <img src="kntu.jpg" alt="kntu" width="82" height="82">
             </a>
          </div>
        </div>
 
        <br/>
       <div id="header">Welcome to Sign up Page</div>         
        <br/>
        <br/>        
         @Html.ValidationSummary("Errors with your submission:")        
         <form method="post" action="">
   <fieldset>
     <legend>Create a New Account</legend>
     <div>
       <label>Username:</label>
       <input name="username" type="text" size="50" value="@username" />
     </div>
     <div>
       <label>Password:</label>
       <input name="password" type="password" size="50" value="@password" />
     </div>
     <div>
       <label>Email:</label>
       <input name="email" type="text" size="50" value="@email" />
     </div>
     <div>
       <label>&nbsp;</label>
       <input type="submit" value="Sign up for Market" class="submit" />
     </div>
   </fieldset>
  </form>
        <br/>
        <br/>
              
  <div id="footer"> Khaje Nasir Toosi Univercity (KNTU) </div>
 </body>
</html>
    
