@{
    var yourValue = "";
   if(Request.Form["username"] != null){ 
      yourValue = Request.Form["username"];} 
 
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <style>
             body{width: 100%; background-color: #1b8677; font-family: 'Times New Roman'; background-image: url("c.jpg") ;direction: rtl;} 
             #header{ background-color: black; color: white;  text-align: center; padding: 5px;border-radius: 5px 5px 5px 5px ;} 
             .user {border: 2px solid black; width: 600px; padding: 1px 1px;}
             .sabad{border: 2px solid black; width: 600px}
             #logo_home img{direction: ltr; width: 90px; height: 88px;}
             #logo_home{text-decoration: none;direction: ltr; font-size: 7pt;padding-left: 1px;}
            #the_footer{ background-color:black; color:white; clear:both; text-align:center; padding:5px; }
           h1{text-align: right; padding-right: 20px;}
           h2{text-align: right; padding-right: 20px;}
           h3{text-align: center; }
           h4{text-align: left; padding-left: 20px;}
           #idfile{direction: ltr; }
           #login_home{direction: rtl;}
           #logo_home img{width: 90px; height: 88px;}
           #logo_home{text-decoration: none;direction: ltr; font-size: 7pt;padding-left: 1px;}
           #top_menu{background-color: black; color: white ; text-decoration:none;border-radius: 5px 5px 5px 5px ;}
           #top_menu li{display: inline-block; list-style: none; text-decoration:none; padding-left: 20px; padding-right: 20px;padding-top: 5px;padding-bottom: 5px; font-weight: bold ;font-size: 22pt; color: white; }
           #top_menu a{ text-decoration: none; color: white;} 
           table{width: 100%; padding-left: 50px; padding-right: 50px; }
           #video_table video{margin-right: 20px;margin-left: 20px; margin-top: 0;max-width: 1600px; max-width: 1200px; border: 5px solid grey;}
           #pdf_table{direction: ltr; border: 5px solid grey;}
           #pdf_table a{ text-decoration: none; text-align:left; font-size: 13pt;margin-left: 40px; margin-bottom: 20px;}
           #section_goshi img{ max-height: 200px; max-width: 185px; direction: rtl; margin-right: 0px; margin-left: 1px;}
           #section_dorbin img{max-height: 200px; max-width: 185px; direction: rtl; margin-right: 0px; margin-left: 1px;}
           #section_laptop img{max-height: 200px; max-width: 185px; direction: rtl; margin-right: 0px; margin-left: 1px;}
           #mahsolat{text-align: right; margin-right:20px;font-size: 22pt;direction: rtl;}
           #goshi{text-align: center;padding-right:20px;font-size: 20pt; border: 5px solid #f2ecd8;background-color: #f2ecd8;}
           #section_goshi td{border: 1px solid black; text-align: center;}
           #data_buy td{text-align: center;border: 1px solid black; }
           #dorbin{text-align: center;padding-right:20px;font-size: 20pt; border: 5px solid #f2ecd8;background-color: #f2ecd8;}
           #section_dorbin td{text-align: center;border: 1px solid black;}
           #laptop{text-align: center;padding-right:20px;font-size: 20pt; border: 5px solid #f2ecd8;background-color: #f2ecd8; }
           #section_laptop td{text-align: center;border: 1px solid black;}
           article{direction: rtl; inline-box-align: initial;}
           img{padding-right: 15px;}
           p{padding-right: 15px; padding-left: 10px;}
           
        </style>
        <script type="text/javascript">
             function piam() {
            alert("برای انجام عملیات خرید باید مجددا لاگین بفرمایید . \n باتشکر");
        }
        </script>
        <meta charset="utf-8" />
        <title>@Request["username"]'s Page</title>
    </head>
    <body>
       <div id="header">Welcome to @Request["username"]'s page</div>
      <table>          
      <tr>
        <td id="logo_home"><a href="home.cshtml"><img src="kntu.jpg" alt="kntu" dir="ltr" ></a></td>
      </tr> 
      <tr>
        <td class="user"><a href="MainHome.cshtml" title="@Request["username"]"><img src="user.jpg" alt="user" dir="rtl" width="40" height="40">  </a> Hi, Dear  @Request["username"] </td>          
        <td class="sabad"><a href="sabad.cshtml" title="محتوای سبد خرید شما"><img src="Sabad.png" alt="sabad" width="50" height="40"></a></td>
      </tr> 
      </table>                  
      <nav id="top_menu">
        <ul>
                
                <li><a class="topnave" target="_top" href="#mahsolat">محصولات </a></li>
                <li><a class="topnave" target="_top" href="loginbuymainhome.cshtml" onclick="piam()">خرید </a></li>
                <li><a class="topnave" target="_top" href="#rahnama">راهنمای خرید </a> </li>
                <li><a class="topnave" target="_top" href="#tamasbama">تماس با ما </a></li>
                <li><a class="topnave" target="_top" href="home.cshtml"> خروج از سایت </a> </li>
            </ul>
        </nav>
        
      <table>
            <tr>              
                <td id="video_table"><video src="Sony-Xperia-Z3-TV-Commercial.mp4" muted autoplay loop >Sony </video></td>
                <td id="pdf_table">
                    <h3> اطلاعات در مورد محصولات سونی </h3>
                    <h4>انواع گوشی ها </h4>
                        <a href="pdf/Xperia-Z3-Tablet-Compact.pdf"> Sony Xperia Z3 Tablet Compact</a><br/>
                        <a href="pdf/xperia_z3_compact.pdf"> Sony Xperia z3 compact</a><br/>
                        <a href="pdf/Z2Tablet.pdf"> Sony Xperia Tablet Z2 </a><br/>
                        <a href="pdf/Sonyxperia_z2.pdf"> Sony Xperia Z2 </a><br/>
                        <a href="pdf/z1Compact.pdf"> Sony Xperia Z1 Compact </a><br/>
                        <a href="pdf/Z1.pdf"> Sony Xperia Z1</a><br/>
                        <a href="pdf/Xperia_Z_Ultra.pdf"> Sony Xperia Z Ultra</a><br/>
                        <a href="pdf/XperiaTablet-S.pdf"> Sony Xperia Tablet S</a><br/>
                        <h4>انواع دوربین ها </h4>
                        <a href="pdf/DSCW90.pdf"> Sony Cyber-shot DSCw90</a><br/>
                        <a href="pdf/DSCT70.pdf"> Sony Cyber-shot DSCT70</a><br/>
                        <a href="pdf/DSCRX100.pdf"> Sony Cyber-shot DSCRX100</a><br/>
                        <a href="pdf/DSCW180-W190.pdf"> Sony Cyber-shot DSCW180-W190</a><br/>
                        <a href="pdf/DSCW55.pdf"> Sony Cyber-shot DSCW55</a><br/>
                        <a href="pdf/DSCH9.pdf"> Sony Cyber-shot DSCH9</a><br/>
                        <a href="pdf/DSCS930.pdf"> Sony Cyber-shot DSCS930</a><br/>
                        <a href="pdf/DSCW330.pdf"> Sony Cyber-shot DSCW330</a></br/>
                </td>
            </tr>
        </table>

      <h1><a id="mahsolat"> محصولات </a></h1>

      <table>
            <tr><th id="goshi">تلفن همراه</th></tr>
            <tr id="section_goshi">
                <td >                    
                        <a href="loginbuymainhome.cshtml">
                           <img class="slideItem" alt="iPhone 6" src="img/mobil/Mobile-Phone-Apple-iPhone-6-16GB1dc713.jpg" >
                        </a>
                 </td>
                <td>
                        <a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="iPhone 6 Plus" src="img/mobil/Mobile-Phone-Apple-iPhone-6-Plus-16GB7c8c65.jpg" >
                        </a>
                    </td>
                <td>
                        <a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="Samsung Galaxy Note4" src="img/mobil/Mobile-Samsung-Galaxy-Note-4698824.jpg" >
                        </a>
                    </td>
                <td>
                        <a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="Samsung Galaxy S5" src="img/mobil/Mobile-Samsung-Galaxy-S5-16GB10fdef.jpg" >
                        </a>
                    </td>
                <td>
                         <a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="Huawei Ascend P7" src="img/mobil/Mobile-Huawei-Ascend-P7c9f99f.jpg" >
                        </a>
                    </td>
                <td>
                         <a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="LG G Flex" src="img/mobil/Mobile-LG-G-Flex-32GB37ad44.jpg" >
                        </a>

                    </td>
                <td>
                         <a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="LG G3" src="img/mobil/Mobile-LG-G3e1689c.jpg" >
                        </a>
                    </td>
                <td>
                         <a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="HTC One M8" src="img/mobil/Mobile-HTC-One-M8b3b691.jpg" >
                        </a>
               
                </td>
            </tr>
            <tr id="data_buy">
                <td>قیمت : 1750000 تومان </td>
                <td>قیمت : 1550000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
            </tr>
            <tr id="img_sabad">
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
            </tr>
        </table>

      <br/>
      <table>
            <tr><th id="dorbin">دوربین عکاسی</th></tr>
            <tr id="section_dorbin">
                
                <td><a href="loginbuymainhome.cshtml">
                           <img class="slideItem" alt="sony" src="img/dorbin/1.jpg" >
                        </a></td>
                <td><a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="sony2" src="img/dorbin/2.jpg" >
                        </a></td>
                <td><a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="sony3" src="img/dorbin/3.jpg" >
                        </a></td>
                <td><a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="OLYMPUS" src="img/dorbin/4.jpg" >
                        </a></td>
                <td><a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="Canon" src="img/dorbin/5.jpg" >
                        </a></td>
                <td><a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="sony4" src="img/dorbin/6.jpg" >
                        </a></td>
                <td><a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="sony5" src="img/dorbin/7.jpg" >
                        </a></td>
                <td><a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="Canon2" src="img/dorbin/8.jpg" >
                        </a></td>
            </tr>
            <tr id="data_buy">
                <td>قیمت : 1750000 تومان </td>
                <td>قیمت : 1550000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
            </tr>
            <tr id="img_sabad">
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
            </tr>
        </table>
        <br/>
      <table>
            <tr><th id="laptop">لپ تاپ</th></tr>
            <tr id="section_laptop">
                <td> <a href="loginbuymainhome.cshtml">
                           <img class="slideItem" alt="sony" src="img/laptop/1.jpg" >
                        </a></td>
                <td> <a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="ASUS" src="img/laptop/2.jpg" >
                        </a></td>
                <td>
                        <a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="Lenovo" src="img/laptop/3.jpg" >
                        </a></td>
                <td><a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="Dell" src="img/laptop/4.jpg" >
                        </a></td>
                <td><a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="Dell" src="img/laptop/5.jpg" >
                        </a></td>
                <td><a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="HP" src="img/laptop/6.jpg" >
                        </a></td>
                <td> <a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="Lenovo" src="img/laptop/7.jpg" >
                        </a></td>
                <td> <a href="loginbuymainhome.cshtml">
                            <img class="slideItem" alt="Lenovo" src="img/laptop/8.jpg" >
                        </a></td>
            </tr>
            <tr id="data_buy">
                <td>قیمت : 1750000 تومان </td>
                <td>قیمت : 1550000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
                <td>قیمت : 1750000 تومان</td>
            </tr>
            <tr id="img_sabad">
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
            </tr>
        </table>
  
        <br/>
        <br/>
        <h1><a id="rahnama"> راهنمای خرید </a></h1>

        <h3>سرعت خرید را احساس کنید !</h3>
        <img class="slidItem" alt="pishtaz" src="img/Pishtaz.jpg">
        <p>فروشگاه اینترنتی ما شرایط ارسال سریع‌، تحویل رایگان و پرداخت در محل، لذت خریدی متفاوت را برای شما فراهم کرده است. در حال حاضر طرح تحویل اکسپرس در شهرهای تهران، کرج و اصفهان فعال شده است، اما به زودی شهرهای دیگر ایران را هم پوشش می‌دهد. شرایط ارسال سریع در این شهرها به شرح زیر است:</p>
        <br>
        <h2>تهران:</h2>
        <p> سفارش‌هایی که در روزهای کاری شنبه تا چهارشنبه تا ساعت 16 و در روز پنج‌شنبه تا ساعت 14 ثبت شوند، در همان روز تحویل داده می‌شوند. سفارش‌هایی که پس از ساعت‌های ذکر شده ثبت شوند در اولین ساعت‌های کاری روز بعد تحویل داده می‌شوند.</p>
        <br/>
        <h2>کرج:</h2>
        <p> امکان تحویل سفارش‌هایی که در روزهای کاری شنبه تا چهارشنبه تا ساعت 14 و در روز پنج‌شنبه تا ساعت 12 ثبت شوند، در همان روز وجود دارد. همچنین، سفارش‌هایی که پس از این ساعت‌ها ثبت شوند در اولین ساعت‌های کاری روز بعد تحویل داده می‌شوند.</p>
        <br/>
        <h2>اصفهان:</h2>
        <p> در صورتی که سفارش تا ساعت 16 روزهای کاری شنبه تا چهارشنبه ثبت شود، در روز بعد تحویل داده می‌شود. سفارش‌هایی که بعد از ساعت 16 و یا روزهای پنج‌شنبه، جمعه و تعطیلات رسمی ثبت شوند، در اولین روز کاری بعد پردازش و ارسال می‌شوند.</p>
        <br/>
        <h2>نکات:</h2>
        <ul>
            <li> تحویل رایگان فقط شامل سفارش‌‌‌‌هایی با ارزش بیش از یکصد هزار تومان و در شهرهای نام‌برده در بالا می‌شود.</li>
            <li> پیش از ارسال کالا، هماهنگی‌های لازم در مورد تاریخ و زمان تحویل سفارش، از طرف شرکت با مشتری (تحویل‌گیرنده سفارش) انجام می‏‌شود.</li>
        </ul>
        <br/>
        <img class="slidItem" alt="express" src="img/Express.jpg">
        <ul>
            <li>پست پیشتاز برای سفارش‌های خارج از تهران، کرج و یا اصفهان در نظر گرفته شده است. در صورت درخواست مشتری سفارش‌های با آدرس تحویل تهران یا کرج نیز می‌‏توانند با پست پیشتاز ارسال شوند.</li>
            <li>پس از پردازش سفارش و تحویل به پست، زمان تقریبی تحویل سفارش ارسالی بنا به محدوده جغرافیایی و مقصد سفارش بین 24 تا 72 ساعت است.</li>
            <li>برخی از کالاها در فروش‌های ویژه و طرح‌های تشویقی فروش ممکن است فقط از طریق پست پیشتاز ارسال شوند. در این صورت این موضوع در هنگام ثبت سفارش به اطلاع کاربر می‌رسد.</li>
            <li>در مناسبت‌های خاص و روزهای پایانی سال سفارش‌‏های ارسالی از طریق پست، ممکن است به دلیل وجود ترافیک در سرویس‌‏های پستی با کمی تاخیر به دست مشتریان برسد.</li>
            <li>در صورتی که منتظر دریافت سفارش خود از طریق سرویس پست هستید، می‌توانید مرسوله را از طریق سایت شرکت پست به آدرس زیر پیگیری کنید:</li>
        </ul>
        <p>http://itemtracking.post.ir</p>
        <br/>
        <img class="slidItem" alt="tipax" src="img/Tipax.jpg">
        <ul>
            <li>تیپاکس برای سفارش‌های با محل تحویل خارج از تهران یا کرج مشتریان برنامه‌ریزی شده است.</li>
            <li>در صورت درخواست مشتری سفارش‌های با آدرس تحویل تهران، کرج یا اصفهان نیز می‌‏توانند با تیپاکس ارسال شوند.</li>
            <li>تیپاکس به مقصد تمامی مراکز استان‌ها ارسال مستقیم دارد.</li>
            <li>سفارش‌هایی که در محدوده بافت شهری در شهرهای دارای دفتر نمایندگی قرار دارند، در منزل تحویل داده می‌شوند و تیپاکس برای رساندن آنها، هزینه اضافی دریافت نمی‌کند.</li>
            <li>مشتریانی که آدرس‌شان در خارج از بافت شهری شهر مقصد قرار دارد، می‌توانند سفارش خود را از دفتر شعبه مقصد تحویل بگیرند یا برای دریافت سفارش با شرایط توافقی اقدام کنند.</li>
            <li>پس از پردازش سفارش و تحویل آن به تیپاکس، پس از آن زمان ارسال در بیش از 80 شهر که تک مسیره هستند به طور معمول 24 ساعته است.</li>
            <li>سرویس‌دهی تیپاکس تنها در شهرهایی که دومسیره یا راه دور هستند، در 48 تا 72 ساعت انجام می‌شود.</li>
        </ul>
        <br/>
        <p>در حال حاضر، شهرهای زیر دارای دفتر تیپاکس هستند (شهرهای راه دور (دو مسیره) با رنگ آبی مشخص شده‌اند):<br/>
        <span style="color: rgb(15, 145, 175);">آبادان</span>
         - آستارا - آمل - ابهر و خرمدره - 
        <span style="color: rgb(15, 145, 175);">اسلام آباد</span>
         - اراک - اردبیل - ارومیه - اصفهان - انزلی - اهواز -
        <span style="color: rgb(15, 145, 175);"> ایلام</span>
         - بابل - بابلسر - 
        <span style="color: rgb(15, 145, 175);">بجنورد</span>
         - بروجرد - بناب - 
        <span style="color: rgb(15, 145, 175);">بندر عباس</span>
          - 
         <span style="color: rgb(15, 145, 175);">بوشهر </span>
          - 
          <span style="color: rgb(15, 145, 175);">بوکان</span>  
           - بهشهر - 
         <span style="color: rgb(15, 145, 175);">بیرجند</span>
          - تاکستان - تالش - تبریز - 
          <span style="color: rgb(15, 145, 175);">تربت حیدریه</span>
            - تنکابن - 
          <span style="color: rgb(15, 145, 175);">جهرم </span>
           - چالوس - خرم آباد - 
          <span style="color: rgb(15, 145, 175);">خرمشهر</span>
           - دامغان - دزفول - دورود - رامسر - رشت - رفسنجان - رودسر - رودبار - 
        <span style="color: rgb(15, 145, 175);">زاهدان</span>
          - زرند- زنجان - ساری - ساوه -&nbsp; سبزوار - سمنان - سنندج -        
         <span style="color: rgb(15, 145, 175);">سیرجان</span>   
          - شاهرود - شاهین شهر - شوشتر - شهرضا - شهرکرد - شهر صنعتی البرز - شیراز - شیروان - صومعه سرا - علی آباد - 
          <span style="color: rgb(15, 145, 175);">فسا</span>
            - فومن - قائمشهر - قروه - قزوین - قم - 
           <span style="color: rgb(15, 145, 175);">کازرون </span>
           - کاشان - کرج - کرمان - کرمانشاه - 
          <span style="color: rgb(15, 145, 175);">کیش </span>
            - گرگان - گنبد - لاهیجان - 
        <span style="color: rgb(15, 145, 175);">لار</span>
         - لنگرود - مراغه - مرودشت - مشهد - ملایر - مهاباد - میاندوآب - میبد - نجف آباد - نکا - نهاوند - نیشابور - همدان&nbsp; - 
        <span style="color: rgb(15, 145, 175);">یاسوج</span>
         - یزد           
        </p>
        <br/>
        <img class="slidItem" alt="barbari" src="img/Barbari.jpg">
        <p>باربری برای لوازم خانگی سنگین از قبیل تلویزیون است و کالا به‌صورت پس‌کرایه (پرداخت هزینه باربری هنگام تحویل مرسوله) ارسال خواهد شد. مرسولات برای شهرهای نزدیک تا 24 ساعت، شهرهای دور 48 ساعت و شهرهای خیلی دور تا 72 ساعت توسط باربری ارسال خواهند شد. دفترها و هزینه باربری به این شرح است:
        <br/>
        شهرهای تحت پوشش (و شهرهای نزدیک به آنها):
        <br/>
        آبادان - آبدانان - آبیک - آباده - آزادشهر - آستارا – آستانه (اراک) - آستانه اشرفیه - آشخانه ( بجنورد) - آقاجاری - آق قلا - آمل - ابهر - ابرکوه - اراک - اردکان - اردبیل - ازنا  - ارسنجان - اسالم - اسدآباد - الیگودرز - اندیمشک -  املش - اهرم - اهواز - ارومیه - امیدیه -  ادیمی (زابل) - اسلام‌آباد غرب - اسفراین - اشنویه - اصفهان و حومه - اقلید - ایرانشهر - ایذه - ایلام - ایوان‌غرب - بابلسر - بابل - باغملک - بانه - برازجان - بروجرد - بروجن - بجنورد - بم - بناب - بندر امام‌خمینی (سربندر) - بندر انزلی - بندرترکمن - بندرعباس - بوانات (سوریان) - بوشهر - بوکان - بهشهر - بیرجند - بیجار - بهبهان - پاسارگاد - پاوه - پره‌سر - پلدختر - پیرانشهر - تاکستان - تالش  - تربت حیدریه - تبریز - تنکابن  - تویسرکان - حمیدیه - جغتای - جلفا - جم - جوانرود - جوین - جویبار - جهرم - جیرفت - چابهار‌‌‌ - چالدران - چالوس - خاش - خرم آباد - خرم بید(دهبید) - خرمدره – خدابنده (قیدار) - خرمشهر - خمین - خمینی شهر – خنداب (اراک) - خوانسار - خورموج - خوی - داراب - دامغان - دزفول - دشت مرغاب - دورود - دلیجان  - دهدشت - دره شهر - دیواندره - رامسر  - رامشیر - رامهرمز - رشت - رفسنجان -  روانسر - رودسر - رومشکان - زابل و زهک - زاهدان - زنجان - ساری - ساوه - سبزوار - سراب - سراوان  - سرپل ذهاب - سردشت - سروستان - سعادت شهر - سقز - سلطانیه - سلماس - سمنان - سنقرکلیایی - سنندج - سوسنگرد - سیرجان - سیوند - شادگان  - شازند - شاهرود - شاهین شهر - شوش  - شوشتر - شهرضا - شهرکرد - شیراز - شیروان - صائین قلعه - صحنه - صفاشهر/سروستان - صومعه سرا - عسلویه - (منطقه ویژه انرژی پارس) - علی‌آباد کتول - فامنین - فسا - فرمهین (اراک) - فریدونکنار - فلاورجان - فولادشهر و ذوب آهن -  فومن – قادرآباد (سعادت شهر) - قائم شهر - قائن - قشم - قروه - قزوین - قصرشیرین - قم - قوچان - کازرون - کاشان - کاشمر - کامیاران - کرج - کردکوی - کرمان  - کرمانشاه - کلاچای – کمیجان (اراک) - کنگاور - کنگان - کهنوج - کوهدشت - کیش - گالیکش - گچساران - گرگان - گلپایگان - گناباد  - گنبدکاووس - گیلان غرب - لار - لالجین - لاهیجان  - لردگان - لنگرود - لوشان - لیسار - ماکو -  ماهشهر - مبارکه - محلات - محمودآباد - مراغه - مرند - مرودشت - مریوان - مسجد سلیمان - مشهد - ملایر - ملکان - منجیل - مهاباد – مهاجران (اراک) - مهران - میاندوآب - میانکوه - میانه - میبد - مینودشت  - میلاجرد (اراک) - نجف آباد - نراق - نظرآباد - نقاب - نقده - نکا - نوشهر - نور - نورآباد لرستان - نهاوند - نهبندان - نیشابور - هادی شهر - هامون - هرسین - هشت‌پر - هشتگرد - هفتکل - همدان - هندیجان - هویزه - هیرمند - هیدج - یاسوج - یزد
        </p>
        <br/>
        <br/>
        <br/>
        <h1><a id="tamasbama"> تماس با ما  </a></h1>
        <p>برای ارتباط با ما می توانید به آدرس زیر ایمیل بزنید و سوالات٬ پیشنهادات و مشکلات خودتان را مطرح کنید. در صورتی که شما دارای محصولی هستید که تمایل دارید در فروشگاه ما عرضه کنید به ما ایمیل بزنید.</p>
        <br/>
        <br/>
        <p>
        شماره تماس : (021) 6352509
        <br/>
        ایمیل : info@kntu.com
        <br/>
        آدرس : خیابان شریعتی - پل سید خندان - دانشگاه کامپیوتر
        <br/>
        </p>
        <br/>
        <br/>
      <footer id="the_footer"> Market Online - Thesis - Khaje Nasir Toosi Univercity - KNTU </footer>  

    </body>
</html>
