@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <style type="text/css">
            body{direction: rtl;}
            img{width: 100px ; height: 100px;}
            form{direction: rtl;}
        </style>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>  
    <form name="tellphone">
<div>
<a href="Default.cshtml"><img class="slideItem" alt="iPhone 6" src="img/mobil/Mobile-Phone-Apple-iPhone-6-16GB1dc713.jpg" ></a>
<input id="iphone" type="checkbox" name="Mobile-Phone-Apple-iPhone-6-16GB" value="iphone6" />
<label for="iphone">Mobile Phone Apple iPhone6 16GB</label>
</div>
<br />
<div>
<a href="Default.cshtml"><img class="slideItem" alt="iPhone 6 Plus" src="img/mobil/Mobile-Phone-Apple-iPhone-6-Plus-16GB7c8c65.jpg" ></a>
<input id="iphone" type="checkbox" name="Mobile-Phone-Apple-iPhone-6-Plus-16GB" value="iphone6plus" />
<label for="iphone">Mobile Phone Apple iPhone6 Plus 16GB</label>
</div>
<br />
<div>
<a href="Default.cshtml"><img class="slideItem" alt="Samsung Galaxy Note4" src="img/mobil/Mobile-Samsung-Galaxy-Note-4698824.jpg" ></a>
<input id="samsung" type="checkbox" name="Mobile-Samsung-Galaxy-Note-4" value="samsung" />
<label for="samsung">Mobile Samsung Galaxy Note 4</label>
</div>
<br />
<div>
<a href="Default.cshtml"><img class="slideItem" alt="Samsung Galaxy S5" src="img/mobil/Mobile-Samsung-Galaxy-S5-16GB10fdef.jpg" ></a>
<input id="samsung" type="checkbox" name="Mobile-Samsung-Galaxy-S5-16GB" value="samsung" />
<label for="samsung">Mobile Samsung Galaxy S5 16GB</label> 
</div>  
<div>
<a href="Default.cshtml"><img class="slideItem" alt="Huawei Ascend P7" src="img/mobil/Mobile-Huawei-Ascend-P7c9f99f.jpg" ></a>
<input id="huawei" type="checkbox" name="Mobile-Huawei-Ascend-P7" value="huawei" />
<label for="huawei">Mobile Huawei Ascend P7</label>
</div>
   
<div> 
<a href="Default.cshtml"><img class="slideItem" alt="LG G Flex" src="img/mobil/Mobile-LG-G-Flex-32GB37ad44.jpg" ></a>
<input id="LG" type="checkbox" name="Mobile-LG-G-Flex-32GB" value="lg" />
<label for="LG">Mobile LG G Flex 32GB</label>
</div> 
<div>                   
<a href="Default.cshtml"><img class="slideItem" alt="LG G3" src="img/mobil/Mobile-LG-G3e1689c.jpg" ></a>
<input id="LG" type="checkbox" name="Mobile-LG-G3" value="lg" />
<label for="LG">Mobile LG G3</label>
</div>
        
<div>                  
<a href="Default.cshtml"><img class="slideItem" alt="HTC One M8" src="img/mobil/Mobile-HTC-One-M8b3b691.jpg" ></a>
<input id="htc" type="checkbox" name="Mobile-HTC-One-M8" value="htc" />
<label for="htc">Mobile HTC One M8</label>
</div>               
 //////   labtop 
<div>       
<a href="Default.cshtml"><img class="slideItem" alt="sony" src="img/laptop/1.jpg" ></a>
<input id="sony" type="checkbox" name="laptop sony" value="sony" />
<label for="sony">laptop sony</label>
</div>
<div>         
<a href="Default.cshtml"><img class="slideItem" alt="ASUS" src="img/laptop/2.jpg" ></a>
<input id="ASUS" type="checkbox" name="laptop ASUS" value="ASUS" />
<label for="ASUS">laptop ASUS</label>
</div><div>                
<a href="Default.cshtml"><img class="slideItem" alt="Lenovo" src="img/laptop/3.jpg" ></a>
<input id="Lenovo" type="checkbox" name="laptop Lenovo" value="Lenovo" />
<label for="Lenovo">laptop Lenovo</label>
</div><div>                
<a href="Default.cshtml"><img class="slideItem" alt="Dell" src="img/laptop/4.jpg" ></a>
<input id="Dell" type="checkbox" name="laptop Dell" value="Dell" />
<label for="Dell">laptop Dell</label>
</div><div>                
<a href="Default.cshtml"><img class="slideItem" alt="Dell" src="img/laptop/5.jpg" ></a>
<input id="Dell" type="checkbox" name="laptop Dell" value="Dell" />
<label for="Dell">laptop Dell</label>
</div><div>                
<a href="Default.cshtml"><img class="slideItem" alt="HP" src="img/laptop/6.jpg" ></a>
<input id="HP" type="checkbox" name="laptop HP" value="HP" />
<label for="HP">laptop HP</label>
</div>
<div> 
<a href="Default.cshtml"><img class="slideItem" alt="Lenovo" src="img/laptop/7.jpg" ></a>
<input id="Lenovo" type="checkbox" name="laptop Lenovo" value="Lenovo" />
<label for="Lenovo">laptop Lenovo</label>
</div>                 
<div>
<a href="Default.cshtml"><img class="slideItem" alt="Lenovo" src="img/laptop/8.jpg" ></a>   
<input id="Lenovo" type="checkbox" name="laptop Lenovo" value="Lenovo" />
<label for="Lenovo">laptop Lenovo</label>
</div>                    
        </form>      
       <script type="text/javascript">
           var x = document.forms[0].elements[1].name;
           document.write(x);          
       </script>    
    </body>
</html>
