@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
	
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>        
             <table>
            <tr><th id="goshi">تلفن همراه</th></tr>
            <tr id="section_goshi">
                <td >                    
                        <a href="Default.cshtml">
                           <img class="slideItem" alt="iPhone 6" src="img/mobil/Mobile-Phone-Apple-iPhone-6-16GB1dc713.jpg" >
                        </a>
                 </td>
                <td>
                        <a href="Default.cshtml">
                            <img class="slideItem" alt="iPhone 6 Plus" src="img/mobil/Mobile-Phone-Apple-iPhone-6-Plus-16GB7c8c65.jpg" >
                        </a>
                    </td>
            <tr id="data_buy">
                <td>قیمت : 1750000 تومان </td>
                <td>قیمت : 1550000 تومان</td>
            </tr>
            <tr id="img_sabad">
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
                <td><a href="#sabad"><img class="slidItem" alt="phie" src="img/sabad.jpg"></a></td>
            </tr>
        </table>


       <script type="text/javascript">
            var x = document.tables[0].td[1].id;
            document.write(x);
        </script>    
    </body>
</html>
